/* exercise square one */

.ex-1-square:hover{
transition: all 2s;
background-color: red;
}

/* exercise square two */

.ex-2-square:active{
    transition-duration: 3s;
    width: 100%;
  }

  /* exercise square tree */

  .ex-3-square:hover{
    transition: all 1s;
    border-radius: 65%;
  }

  /* exercise square four */

  .ex-4-square:hover {
    transition: all 2s;
    opacity: 0;
  }

    /* exercise square five */

    .ex-5-square:hover{
        transition: all 2s;
        transform: scale(2)
    }

    .ex-5-square:active{
        transform:none ;
    }
    /* exercise square six AIRPLANE */ 

    .ex-6-img:hover{
        transition: all ;
        filter: grayscale(100%);
    }

    /* exercise 7 Goku */

    .ex-7-img:hover{
        transition: all 3s;
        filter: blur(20);
        filter: grayscale(8);
        filter: saturate(2.2);
    }

    /* exercise 8 img hover sepia and border radius */


    .ex-8-img:hover{
        transition: all 3s;
        filter: sepia(2); 
        border-radius: 20px; 
    }

     /* exercise 8 img hover sepia border radius highsize */

     .ex-9-img:hover{
        transition: all 3s;
        filter: sepia(2); 
        border-radius: 15px; 
        transform: scale(1.5);
    }

    /* exercise 9 rotate icons */

    .ex-10-icon{
        animation: loading 1s linear infinite;
    }
    /* add key and name loading for synchro ex 10 */
    @keyframes loading {
            100% {
              transform: rotate(0deg)
            }
            0% {
              transform: rotate(360deg)
            }
          }
       
        
    
