/* exercise square one */

.ex-1-square:hover{
transition: all 2s;
background-color: red;
}

/* exercise square two */

.ex-2-square:active{
    transition-duration: 3s;
    width: 100%;
  }

  /* exercise square tree */

  .ex-3-square:hover{
    transition: all 1s;
    border-radius: 65%;
  }

  /* exercise square four */

  .ex-4-square:hover {
    transition: all 2s;
    opacity: 0;
  }

    /* exercise square five */

    .ex-5-square:hover{
        transition: all 2s;
        transform: scale(2)
    }

    .ex-5-square:active{
        transform:none ;
    }
    /* exercise square six AIRPLANE */ 

    .ex-6-img:hover{
        transition: all ;
        filter: grayscale(100%);
    }

    /* exercise 7 Goku */

    .ex-7-img:hover{
        transition: all 3s;
        filter: blur(20);
        filter: grayscale(8);
        filter: saturate(2.2);
    }

    /* exercise 8 img hover sepia and border radius */


    .ex-8-img:hover{
        transition: all 3s;
        filter: sepia(2); 
        border-radius: 20px; 
    }

     /* exercise 9 img hover sepia border radius highsize */

     .ex-9-img:hover{
        transition: all 3s;
        filter: sepia(2); 
        border-radius: 15px; 
        transform: scale(1.5);
    }

    /* exercise 10 rotate icons */

    .ex-10-icon{
        animation: loading 1s linear infinite;
    }
    /* add key and name loading for synchro ex 10 */
    @keyframes loading {
            100% {
              transform: rotate(0deg)
            }
            0% {
              transform: rotate(360deg)
            }
          }
       
        /* exercise 11 rotate icons 3/4*/
    
    .ex-11-icon:hover{
    animation: loading 2s ;

    }

    @keyframes loading {
        0% {
            transform: rotate(0);
        }
        90% {
            transform: rotate(315deg);
        }
        100% {
            transform: rotate(0);
        }
    }

    /* exercise 12 TEST */

    .ex-12-button:hover .ex-12-top-white {
        animation: tp 2s linear;
    }
    @keyframes tp {
        0% {
            left: 10%;
        }
        50% {
            left: calc(100% - 60px);
        }
        100% {
            left: 10%;
        }
    }
    .ex-12-button:hover .ex-12-bottom-white {
        animation: bottm 2s linear;
    }
    @keyframes bottm {
        0% {
            right: 20%;
        }
        50% {
            right: calc(100% - 60px);
        }
        100% {
            right: 20%;
        }
    }
    
   
/* exercise 13 test end  */
   
.ex-13-button:hover .ex-13-top-white {
    animation: top 2s linear;
}
@keyframes top {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
      
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom 2s linear;
}
@keyframes bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
  

