/* exercise square one */

.ex-1-square:hover{
transition: all 2s;
background-color: red;
}

/* exercise square two */

.ex-2-square:active{
    transition-duration: 3s;
    width: 100%;
  }

  /* exercise square tree */

  .ex-3-square:hover{
    transition: all 1s;
    border-radius: 65%;
  }

  /* exercise square four */

  .ex-4-square:hover {
    transition: all 2s;
    opacity: 0;
  }

    /* exercise square five */

    .ex-5-square:hover{
        transition: all 2s;
        transform: scale(2)
    }

    .ex-5-square:active{
        transform:none ;
    }
    /* exercise square six AIRPLANE */ 

    .ex-6-img:hover{
        transition: all ;
        filter: grayscale(100%);

    }

